{{ header }}
<div id="common-home" class="container">
    <div id="sync_response" class="alert alert-success alert-dismissible hidden"><button type="button" class="close" style="top: unset;right: unset;" data-dismiss="alert">x</button><i class="fa fa-exclamation-circle"></i></div>
    <div class="alert alert-danger fade in hidden" id="error-holder"></div>
    <div id="content" class="{{ class }}">
            <fieldset>
                <legend>{{ text_form }}</legend>
                <div class="form-group required">
                    <label class="col-sm-2 control-label" for="config_yh_finance_url">{{ text_config_yh_finance_url }}</label>
                    <div class="col-sm-10">
                        <input type="text" name="config_yh_finance_url" value="{{ config_yh_finance_url }}" id="config_yh_finance_url" class="form-control save-on-change"/>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="col-sm-2 control-label" for="config_yh_finance_sub_folder">{{ text_config_yh_finance_sub_folder }}</label>
                    <div class="col-sm-10">
                        <input type="text" name="config_yh_finance_sub_folder" value="{{ config_yh_finance_sub_folder }}" id="config_yh_finance_sub_folder" class="form-control save-on-change"/>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="col-sm-2 control-label" for="config_yh_finance_api_version">{{ text_config_yh_finance_api_version }}</label>
                    <div class="col-sm-10">
                        <input type="text" name="config_yh_finance_api_version" value="{{ config_yh_finance_api_version }}" id="config_yh_finance_api_version" class="form-control save-on-change"/>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="col-sm-2 control-label" for="config_yh_finance_endpoint">{{ text_config_yh_finance_endpoint }}</label>
                    <div class="col-sm-10">
                        <input type="text" name="config_yh_finance_endpoint" value="{{ config_yh_finance_endpoint }}" id="config_yh_finance_endpoint" class="form-control save-on-change"/>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="col-sm-2 control-label" for="config_yh_finance_key">{{ text_config_yh_finance_key }}</label>
                    <div class="col-sm-10">
                        <input type="text" name="config_yh_finance_key" value="{{ config_yh_finance_key }}" id="config_yh_finance_key" class="form-control save-on-change"/>
                    </div>
                </div>
            </fieldset>
    </div>
</div>
{{ footer }}