{{ header }}
<div class="modal fade bootstrap-iso" tabindex="-1" role="dialog" id="alert_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="common-home" class="container">
    <div id="sync_response" class="alert alert-success alert-dismissible hidden"><button type="button" class="close" style="top: unset;right: unset;" data-dismiss="alert">x</button><i class="fa fa-exclamation-circle"></i></div>
    <div class="alert alert-danger fade in hidden" id="error-holder"><button type="button" class="close" style="top: unset;right: unset;" data-dismiss="alert">x</button></div>
    <div id="content" class="{{ class }}">
        <form id="symbol-request" method="post" enctype="multipart/form-data" class="form-horizontal">
            <fieldset>
                <legend>{{ text_form }}</legend>
                <div class="form-group required">
                    <label class="col-sm-2 control-label" for="symbol">{{ entry_symbol }}</label>
                    <div class="col-sm-10">
                        <input type="text" name="symbol" value="" id="symbol" class="form-control" />
                    </div>
                </div>
                <div class="form-group required">
                    <label class="col-sm-2 control-label" for="input-enquiry">{{ entry_start_date }}</label>
                    <div class="col-sm-4">
                        <input name="start_date" type="text" id="start-date" class="form-control">
                    </div>
                    <label class="col-sm-2 control-label" for="input-enquiry">{{ entry_end_date }}</label>
                    <div class="col-sm-4">
                        <input name="end_date" type="text" id="end-date" class="form-control">
                    </div>
                </div>
                <div class="form-group required">
                    <label class="col-sm-2 control-label" for="email">{{ entry_email }}</label>
                    <div class="col-sm-10">
                        <input type="text" name="email" value="" id="email" class="form-control" />
                    </div>
                </div>
                {{ captcha }}
            </fieldset>
            <div class="buttons">
                <div class="pull-right">
                    <a class="btn btn-primary xm-spinner" id="xm-submit-button"><span>{{ button_submit }}</span></a>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    let xmGlobals = {
        formError: "{{ error_form_submit_error }}",
        dateRangeError: "{{ error_date_range }}",
        startDateError: "{{ error_start_date }}",
        endDateError: "{{ error_end_date }}",
        symbolError: "{{ error_symbol }}",
        emailError: "{{ error_email }}",
    };
</script>
{{ footer }}